<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
  <appender name="relp-appender" class="com.teragrep.jla_01.RlpLogbackAppender">
    <relpHostAddress>localhost</relpHostAddress>
    <relpPort>10601</relpPort>
    <enableEventId48577>true</enableEventId48577>
    <appName>log1</appName>
    <hostname>host1.example.com</hostname>
    <connectionTimeout>5000</connectionTimeout>
    <writeTimeout>2000</writeTimeout>
    <readTimeout>15000</readTimeout>
    <encoder>
      <pattern>%-4relative %X{requestId} [%thread] %-5level %logger{35} - %msg</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="relp-appender" />
  </root>
</configuration>
